<footer id="main-footer" class="bg-primary text-white py-5">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-6 m-auto">
        <p class="lead text-center">
          Copyright &copy; <span id="year"></span> Radarfine Consultants
        </p>

        <small
          ><p>
            Designed and Developed by ||
            <strong
              ><a href="#" class="text-secondary"
                >UniCorn IT Solutions</a
              ></strong
            >
          </p></small
        >
      </div>
    </div>
  </div>
</footer>
