<footer id="main-footer" class="bg-primary text-white py-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h5><i class="fas fa-plug"></i> Links</h5>
        <ul class="list-unstyled text-small">
          <li class="my-1">
            <a class="text-white" href="#home_showcase">Home</a>
          </li>
          <li class="my-1">
            <a class="text-white" href="{%url 'pages:services'%}">Branding</a>
          </li>
          <li class="my-1">
            <a class="text-white" href="{%url 'pages:services'%}">Marketing</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5><i class="fas fa-paper-plane"></i> Services</h5>
        <ul class="list-unstyled text-small">
          <li class="my-1">
            <a class="text-white" href="{%url 'pages:services'%}">Branding</a>
          </li>
          <li class="my-1">
            <a class="text-white" href="{%url 'pages:services'%}">Marketing</a>
          </li>
          <li class="my-1">
            <a class="text-white" href="{%url 'pages:services'%}"
              >Consultation</a
            >
          </li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5><i class="fas fa-map-marker"></i> Locate us</h5>
        <ul class="list-unstyled text-small">
          <li class="my-1">
            <a class="text-white" href="">Nanyuki</a>
          </li>
          <li class="my-1">
            <a class="text-white" href="">Nyahururu</a>
          </li>
          <li class="my-1">
            <a class="text-white" href="">Nakuru</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5><i class="fas fa-gavel"></i> Terms</h5>
        <ul class="list-unstyled text-small">
          <li class="my-1">
            <a class="text-white" href="">FAQ</a>
          </li>
          <li class="my-1">
            <a class="text-white" href="">T&Cs</a>
          </li>
          <li class="my-1">
            <a class="text-white" href="">Is Radarfine in My County?</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col-sm-12">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link text-white" href="tel:+254 797813829">
              <i class="fas fa-phone" aria-hidden="true"></i>
              +254 797813829
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-white"
              href="mailto:radarfineconsultants@gmail.com"
            >
              <i class="fas fa-envelope-open" aria-hidden="true"></i>
              radarfineconsultants@gmail.com
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white">
              <i class="fas fa-envelope" aria-hidden="true"></i>
              P.O Box 743-20300 Nyahururu
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row text-center">
      <div class="col m-auto">
        <p class="lead text-center">
          Copyright &copy; <span id="year"></span> Radarfine Consultants
        </p>

        <small
          ><p>
            Designed and Developed by ||
            <strong
              ><a href="#" class="text-secondary"
                >UniCorn IT Solutions</a
              ></strong
            >
          </p></small
        >
      </div>
    </div>
  </div>
</footer>
